*{
    margin:0;
    
}
.item{
    background-color: palevioletred;
    color: white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container{
    height: 30vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    

}
#listas{
    padding: 100px;
}
ol{
    list-style: upper-roman;
}
ul{
    list-style: url('./image/checked.png');
}